@font-face {
    font-family: Mikhak;
    src: url("../fonts/Mikhak-Medium.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Mikhak-black;
    src: url("../fonts/Mikhak-Black.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Mikhak-VF;
    src: url("../fonts/Mikhak-VF.ttf");
    font-weight: lighter;
}

@font-face {
    font-family: Tanha;
    src: url("../fonts/Tanha.ttf");
    font-weight: normal;
}
