$gold: #faa307;
$dark: #212121;
$like: #ff4444;
$eye: #4476ff;
$eraser: #ff2d2d;
$folder: #ffb444;

$color_btn_hover: #f0f0f0;

body {
    font-family: Mikhak;
    background-color: #212121;

    #app {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;

        .container {
            // background-color: #505050;
            color: #fff;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            #mainApp {
                width: 95%;
                height: 90%;
                // background-color: rgb(255, 60, 60);
                padding-top: 15px;
                display: flex;
                flex-direction: column;

                #write {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    input {
                        background-color: inherit;
                        width: 100%;
                        outline: none;
                        border: none;
                        border-bottom: 5px solid $gold;
                        padding: 5px 15px;
                        direction: rtl;
                        font-family: Mikhak;
                        font-size: 1.5rem;
                        color: #cecece;
                        margin-bottom: 10px;
                        &:focus {
                            box-shadow: 0 0 2px $gold;
                        }
                    }

                    textarea {
                        background-color: inherit;
                        width: 100%;
                        outline: none;
                        border: none;
                        border-bottom: 5px solid $gold;
                        padding: 5px 15px;
                        direction: rtl;
                        font-family: Mikhak;
                        font-size: 1.5rem;
                        color: #cecece;
                        resize: none;
                        overflow: auto;
                        margin-bottom: 20px;
                        &:focus {
                            box-shadow: 0 0 2px $gold;
                        }
                    }

                    .btn-group {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 20px;

                        .btn {
                            background-color: inherit;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 5px;
                            margin: 0 3px 0;
                            cursor: pointer;
                            font-size: 2rem;
                            padding: 10px;
                            line-height: 2rem;
                            &.mdi-heart {
                                border: 1px solid $like;
                                color: $like;
                                &:focus {
                                    box-shadow: 0 0 10px $like;
                                }
                            }
                            &.mdi-heart-ac {
                                background-color: $like;
                                color: $color_btn_hover;
                            }
                            &.mdi-eye {
                                border: 1px solid $eye;
                                color: $eye;
                                &:focus {
                                    box-shadow: 0 0 10px $eye;
                                }
                            }
                            &.mdi-eye-ac {
                                background-color: $eye;
                                color: $color_btn_hover;
                            }
                            &.mdi-folder {
                                border: 1px solid $folder;
                                color: $folder;
                                &:focus {
                                    box-shadow: 0 0 10px $folder;
                                }
                            }
                            &.mdi-folder-ac {
                                background-color: $folder;
                                color: $color_btn_hover;
                            }
                            &.mdi-eraser {
                                border: 1px solid $eraser;
                                color: $eraser;
                                &:focus {
                                    box-shadow: 0 0 10px $eraser;
                                }
                                &:active {
                                    background-color: $eraser;
                                    color: $color_btn_hover;
                                }
                            }
                        }
                    }

                    .Send {
                        background-color: #ffb01f;
                        cursor: pointer;
                        outline: none;
                        border: none;
                        padding: 5px 15px;
                        direction: rtl;
                        font-family: Mikhak;
                        font-size: 1.5rem;
                        color: $dark;
                        border-radius: 5px;
                        width: 100%;
                        &:hover {
                            background-color: #ffa600;
                        }
                        &:focus {
                            box-shadow: 0 0 10px $gold;
                            background-color: $dark;
                            border-radius: 5px;
                            color: $color_btn_hover;
                        }
                    }
                }
            }

            #menuApp {
                width: 100%;
                height: 10%;
                border-top: 1px solid $gold;
                display: flex;
                justify-content: center;
                .contMenu {
                    // background-color: #4754ff;
                    width: 95%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    .item {
                        // background-color: #686868;
                        height: 100%;
                        width: 100%;
                        margin: 0 2px 0 2px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;

                        a {
                            // background-color: #686868;
                            text-decoration: none;
                            cursor: pointer;
                            color: $gold;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: none;
                            font-size: 2.5rem;

                            &.home {
                                font-size: 3rem;
                            }
                            &:focus {
                                outline: none;
                                color: $dark;
                                text-shadow: 0 0 10px $gold;
                            }
                        }
                    }
                }
            }
        }
    }
}
