<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project VueJS</title>
    <link rel="stylesheet" href="./css/materialdesignicons.min.css">
    <!-- <link rel="stylesheet" href="animations.css"> -->
    <link rel="stylesheet" href="./css/main.min.css">
</head>

<body>



    <div id="app">

        <div class="container">

            <div id="mainApp">


                <div id="write">
                    <input type="text" placeholder="موضوع ..." autofocus v-model="title">
                    <textarea cols="30" rows="5" placeholder="دیدگاه ..." v-model="comment"></textarea>
                    <div class="btn-group">
                        <button class="btn mdi mdi-eraser" v-on:click="eraserText()"></button>
                        <button class="btn mdi mdi-folder" v-bind:class="{'mdi-folder-ac':archive}"
                            v-on:click="archive=!archive"></button>
                        <button class="btn mdi mdi-eye" v-bind:class="{'mdi-eye-ac':view}"
                            v-on:click="view=!view"></button>
                        <button class="btn mdi mdi-heart" v-bind:class="{'mdi-heart-ac':like}"
                            v-on:click="like=!like"></button>
                    </div>
                    <button class="Send">ارسال</button>
                </div>


                <div id="read">

                    <div class="boxText">
                        <h1 class="titleBox">
                            موضوع
                        </h1>
                        <span class="more mdi mdi-dots-vertical"></span>
                        <p class="commentBox">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                            است، چاپگرها و متون بلکه
                            روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
                            کاربردهای متنوع با هدف بهبود
                            ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان
                            جامعه و متخصصان را می طلبد، تا
                            با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو
                            در زبان فارسی ایجاد کرد، در
                            این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به
                            پایان رسد و زمان مورد نیاز شامل
                            حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده
                            قرار گیرد.
                        </p>
                        <div class="moreBox"></div>
                    </div>

                </div>


            </div>
            <div id="menuApp">
                <div class="contMenu">
                    <div class="item"><a href="#" class="mdi mdi-apps"></a><button></button></div>
                    <div class="item"><a href="https://github.com/rahamoosavi1378/Commenting-app-with-VueJS"
                            class="mdi mdi-github home" target="_blank"></a></div>
                    <div class="item"><a href="#" class="mdi mdi-help-circle-outline"></a></div>
                </div>
            </div>

        </div>

    </div>


    <script src="./js/vue.js"></script>
    <script src="./js/main.js"></script>

</body>

</html>